name: Test

on:
  push:
    branches: [main]
  pull_request:

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install -e .[test]

      - name: Run unit tests with coverage
        run: |
          pytest --cov=graphrelax --cov-report=term-missing

  integration-tests:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -el {0}
    steps:
      - uses: actions/checkout@v4

      - name: Setup Miniconda
        uses: conda-incubator/setup-miniconda@v3
        with:
          python-version: "3.11"
          channels: conda-forge
          channel-priority: strict
          activate-environment: test
          auto-activate-base: false

      - name: Install conda dependencies
        run: |
          conda install -y openmm pdbfixer

      - name: Install pip dependencies
        run: |
          pip install -e .[test]

      - name: Download LigandMPNN weights
        run: |
          ./scripts/download_weights.sh

      - name: Run all integration tests (including slow)
        run: |
          pytest -m "integration" --cov=graphrelax --cov-report=term-missing
